@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
    --foreground-rgb: 0, 0, 0;
    --background-start-rgb: 214, 219, 220;
    --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
     :root {
        --foreground-rgb: 255, 255, 255;
        --background-start-rgb: 0, 0, 0;
        --background-end-rgb: 0, 0, 0;
    }
}

body {
    color: rgb(var(--foreground-rgb));
    background: linear-gradient( to bottom, transparent, rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
}

@layer utilities {
    .text-balance {
        text-wrap: balance;
    }
}

.card-login {
    background-color: white;
    padding: 50px;
    border-radius: 25px;
    min-width: 400px;
    min-height: 500px;
    color: black;
}

.login-btn {
    width: 100%;
    background-color: black;
    color: white;
    padding: 10px;
    border-radius: 25px;
}

.card-profile {
    background-color: white;
    padding: 30px;
    border-radius: 25px;
    min-width: 400px;
    max-width: 600px;
    min-height: 400px;
    color: black;
}

.img-profile {
    width: 120px;
    height: 120px;
    border: 5px solid rgb(32, 32, 109);
    border-radius: 50%;
    position: absolute;
    top: 5%;
}

.texe-header {
    font-size: 22px;
    /* top: 100%;
    position: relative; */
}

.card-sub {
    width: 100%;
    /* height: 100px; */
    background-color: transparent;
    color: black;
    padding: 20px;
    border-radius: 15px;
    margin-top: 30px;
    /* margin-bottom: 30px; */
}

.card-sub:hover {
    width: 100%;
    /* height: 100px; */
    background-color: transparent;
    color: black;
    padding: 20px;
    border-radius: 15px;
    margin-top: 30px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(255, 255, 255, 0.19);
    /* margin-bottom: 30px; */
}